.ken-choose-us{
    padding-top: 80px;
    padding-bottom: 90px;
}
.choose-hadding{
    margin-bottom: 75px;
}
.single-choose{
    .choose-img{
        height: 165px;
        @media #{$large_mobile}{
            height: 155px;
        }
    }
    .choose-title{
        margin-top: 20px;
        margin-bottom: 20px;
        @media #{$large_mobile}{
            margin: 10px;
        }
    }
    .choose-text{
        color: $secondary-color-3;
    }
    
}
@media #{$large_small}{
    .mb-70{
        margin-bottom: 70px;
    }
}
@media #{$medium_device}{
    .pt-md-40{
        padding-top: 40px;
    }
}